* {
    padding: 0px;
    margin: 0px;
    font-family: "Arial";
    font-weight: bold;
 }
 
 .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 80px 300px 160px 130px 80px;
    box-sizing: border-box;
    background-color: #bce399;
    max-width: 1500px;

 }
 
 .grid-container>div {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .header {
    background-color: #F2A05D;
    grid-column: 1/8;
    grid-row: 1/2;
 }
 
 .roomMap{
    background-color: #F2E863;
    grid-column: 1/4;
    grid-row: 2/6;
 }
 
 .frontCam {
    background-color: #61E8E1;
    grid-column: 4/7;
    grid-row: 2/3;
 }
  
 .rearCam {
    background-color: #F25757;
    grid-column: 4/7;
    grid-row: 3/5;
 }
 
 .right-panel {
    background-color: #dc7cd4;
    grid-column: 7/8;
    grid-row: 2/5;
   
 } 
 
 .footer {
    background-color: #5df27b;
    grid-column: 1/8;
    grid-row: 5/6;
 }

.status-block {
   display: grid;
   grid-template-columns: 1fr; 
   grid-template-rows: repeat(4, 1fr); /* four rows */
   width: 100%;
   height: 100%;
  
}
.status-heading {
   font-weight: bold; 
   padding:5px;
   text-align: center;
   font-size: 1.5em;
}
.status-heading::after {
   content: "";
   display: block;
   border: 1px solid #000000;

 }
.status-item {
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items:center;
   border: 1px solid rgb(80, 67, 67); 
   width:100%;
 
}
.led-status {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: -264px;
   gap:10px;
  
}

.led-indicator {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 45px; 
   height:auto;
}
.led{
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background-color: red;
   margin-right:19px; 
}

.led-text {
   font-size: 18px;
   font-weight: bold;
   margin-left: 10px; 

}
